@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

$pri-color: #cc0000;

$blue: #007cb0;
$light-blue: #d2dfe5;

html, body {
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

ul#pollResults{
    margin: 0;
    padding: 0;
    li {
        display: block;
        border: solid 1px #ddd;
        padding: 14px;
        margin-bottom: 10px;
        position: relative;
        z-index: 0;
        
        .perc-back {
          background: $light-blue;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 0%;
          z-index: -1;
        }      

      label {
        vertical-align: middle;
        cursor: pointer;
        overflow: hidden;
        /* &:before {
          content: url('http://img.qa01.medscapestatic.com/pi/videoplayer/icons/qna-radio-off.png');
          overflow: hidden;
          display: inline-block;
          margin-right: 10px;
          margin-top: 2px;
          margin-left: 2px;
          margin-bottom: -1px;
        } */
      }
      .perc-number {
        float: right;
      }  

    }
}