@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

ul#pollResults {
  margin: 0;
  padding: 0;
}

ul#pollResults li {
  display: block;
  border: solid 1px #ddd;
  padding: 14px;
  margin-bottom: 10px;
  position: relative;
  z-index: 0;
}

ul#pollResults li .perc-back {
  background: #d2dfe5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  z-index: -1;
}

ul#pollResults li label {
  vertical-align: middle;
  cursor: pointer;
  overflow: hidden;
  /* &:before {
          content: url('http://img.qa01.medscapestatic.com/pi/videoplayer/icons/qna-radio-off.png');
          overflow: hidden;
          display: inline-block;
          margin-right: 10px;
          margin-top: 2px;
          margin-left: 2px;
          margin-bottom: -1px;
        } */
}

ul#pollResults li .perc-number {
  float: right;
}
/*# sourceMappingURL=admin.css.map */