@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");

*,body{
    margin: 0;
    padding: 0;
}
html,body{
    min-height:100vh;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    
    background-image: url(../img/bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #ffffff;

    &.reg{
        background-image: url(../img/bg-registration.jpg) !important;
    }
    &.loaded {
        .preloader {
        display:none;
       }
        .page-content {
        display: block;
       }
    }
    .page-content {
           display: none;
    }
    &.no-bg{
        background-image: none;
    }
}
#code {
    position: fixed;
    bottom: 50px;
    right: -30px;
    transform: rotate(-90deg);
    font-size: 0.75em;
    color: #fff;
}
a{
    text-decoration: none;
}
a.skip {
    position: fixed;
    bottom: 10%;
    right: 50px;
    background-color: #cc0000;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 20px;
}
ul{
    margin:0;
}
.alert-msg{
    border-radius: 0;
}
/* Customization Style of SyoTimer */

.syotimer {
    text-align: center;
    margin: 30px auto 0;
    padding: 0 0 10px;
}

.syotimer-cell {
    display: inline-block;
    margin: 0 5px;
    width: 79px;
    background: url(../img/timer.png) no-repeat 0 0;
}

.syotimer-cell__value {
    font-size: 35px;
    color: #ffffff;
    height: 81px;
    line-height: 81px;
    margin: 0 0 5px;
}

.syotimer-cell__unit {
    font-size: 12px;
    text-transform: uppercase;
}

.right-area-wrapper{
    background-color: #f1f1f2;
    border-radius: 24px;
    padding: 23% 5%;
    margin: 10px auto;
    width: 100%;
}
.login-area-wrapper{
    background-color: #f1f1f2;
    border-radius: 24px;
    padding: 17% 5%;
    margin: 10px auto;
    width: 100%;
}
.register-wrapper, .login-wrapper{
    width:80%;
    margin: 0 auto;
    color: #333333;
    h5{
        color:#626262;
    }
}
form{
    label{
        text-transform: uppercase;
        display: block;
        font-size: 0.8em;
        font-weight: 500;
    }
    .input{
        background-color: #e6e7e8;
        border: none;
        width: 100%;
        padding: 5px 10px;
        &:focus{
            outline:0;
        }
    }
    .form-cancel img {
        vertical-align: top;
    }
    #btnLogin{
        background-color: #2d3d69;
        width: 96px;
        height: 41px;
        text-align: center;
        color: #fff
    }
}

#mobile-portrait {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999999;
    display: none;
}

.center-device {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(2.5);
    transform: translate(-50%, -50%) scale(2.5);
    height: 50vh;
    max-height: 250px;
}
@media only screen and (min-device-width: 0px) and (max-device-width: 815px) and (orientation: portrait) {
    #mobile-portrait {
        display: block !important;
    }
}

.preloader {
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 999999;
}

.loader {
    height: 20px;
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.loader--dot {
    -webkit-animation-name: loader;
    animation-name: loader;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    border: 2px solid white;
}

.loader--dot:first-child {
    background-color: #8cc759;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.loader--dot:nth-child(2) {
    background-color: #8c6daf;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.loader--dot:nth-child(3) {
    background-color: #ef5d74;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.loader--dot:nth-child(4) {
    background-color: #f9a74b;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.loader--dot:nth-child(5) {
    background-color: #60beeb;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.loader--dot:nth-child(6) {
    background-color: #fbef5a;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.loader--text {
    position: absolute;
    top: 200%;
    left: 0;
    right: 0;
    width: 4rem;
    margin: auto;
}

.loader--text:after {
    content: "Loading";
    font-weight: bold;
    -webkit-animation-name: loading-text;
    animation-name: loading-text;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    color: #333333;
}

@-webkit-keyframes loader {
    15% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    45% {
        -webkit-transform: translateX(230px);
        transform: translateX(230px);
    }
    65% {
        -webkit-transform: translateX(230px);
        transform: translateX(230px);
    }
    95% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes loader {
    15% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    45% {
        -webkit-transform: translateX(230px);
        transform: translateX(230px);
    }
    65% {
        -webkit-transform: translateX(230px);
        transform: translateX(230px);
    }
    95% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes loading-text {
    0% {
        content: "Loading";
    }
    25% {
        content: "Loading.";
    }
    50% {
        content: "Loading..";
    }
    75% {
        content: "Loading...";
    }
}

@keyframes loading-text {
    0% {
        content: "Loading";
    }
    25% {
        content: "Loading.";
    }
    50% {
        content: "Loading..";
    }
    75% {
        content: "Loading...";
    }
}
.videotoplay
{
    z-index:9999;
    background-color:#000;
    position:absolute;
    top:0;
    left:0;
    width:calc(100% - 0px);
    height:calc(100vh);
    
    video{
        width:100%;height:calc(100vh);
        object-fit:cover;
        
    }
    
    .skip{
        position: absolute;
        bottom: 10%;
        right: 50px;
        background-color: #cc0000;
        color: #fff;
        text-transform: uppercase;
        padding: 5px 20px;
        &:hover{
            color: #fff;
            cursor:pointer;
        }
    }
}

#content{
    position: relative;
    height: fit-content;    
    max-height: calc(100vh);
    overflow: hidden;
    #header-menu{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 1;
        a {
            color: #424242;
            font-size: 1em;
        }
        ul#attendance {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                margin-bottom: 0;
                font-size: 0.75em;
                padding: 0 10px;
            }
        }
  
        
    }
    #bottom-menu{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 60px;
        background-color: #fff;
        .bottom-nav {
            padding: 4px 0;
        }
        ul{
            li{
                i,a{
                    display: block;
                    color: #424242;
                    font-size: 1em;
                    text-align: center;
                    padding: 5px 10px;
                    &:hover {
                        text-decoration: none;
                    }
                }
                i{
                    position: relative;
                    #chat-message {
                        font-size: 0.75em;
                    }
                }
            }
        }
    }

    #bg {
        position: relative;
        margin-top: 0px;
        background-color: #000;
        
        img {
        width: 100%;
        height:auto;
        }
        .indicator {
            background-color: #c00;
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            bottom: 0%;
            border-radius: 50%;
            -webkit-box-shadow: 0 0 0 0 #000;
            box-shadow: 0 0 0 0 #000;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            -webkit-animation: pulse 2s infinite;
            animation: pulse 2s infinite;
            &.d-4 {
                width: 4px;
                height: 4px;
                bottom: -2px;
            }
            &.d-6 {
                width: 6px;
                height: 6px;
                bottom: -3px;
            }
            &.d-8 {
                width: 8px;
                height: 8px;
                bottom: -4px;
            }
            &.d-10 {
                width: 10px;
                height: 10px;
                bottom: -5px;
            }
        }

        #lobbyVideo{
            position: absolute;
            top: 36.8%;
            left: 45.5%;
            width: 7.5%;
            height: 7.7%;
            
            .indicator{
                bottom: 47%;
                left: 50%;
            }
        }
        #enterHall{
            position: absolute;
            top: 38.2%;
            left: 25.0%;
            width: 8.5%;
            height: 2.4%;
            
        }
        #enterAudi{
            position: absolute;
            top: 22.1%;
            left: 46.5%;
            width: 7.4%;
            height: 2.9%;
            .indicator{
                left: 45%;
            }
        }
        
        #enterLounge{
            position: absolute;
            top: 38%;
            left: 64.5%;
            width: 8.4%;
            height: 2.6%;
        }
        #showAgenda{
            position: absolute;
            top: 52.2%;
            left: 61.7%;
            width: 3.8%;
            height: 2%;
            .indicator{
                bottom: -10%;
                left: 45%;
            }
        }
        #showResource{
            position: absolute;
            top: 54.6%;
            left: 61.7%;
            width: 3.8%;
            height: 2%;
            .indicator{
                bottom: -10%;
                left: 45%;
            }
        }
        #gotoCert{
            position: absolute;
            top: 57.2%;
            left: 61.7%;
            width: 3.8%;
            height: 2.4%;
            .indicator{
                bottom: -10%;
                left: 45%;
            }
        }
        #webcast-area{
            position: absolute;
            top: 29.2%;
            left: 38.0%;
            width: 25.3%;
            height: 20.4%;
        }
        #exhVideo{
            position: absolute;
            top: 12.0%;
            left: 44.2%;
            width: 16.3%;
            height: 15.8%;
            .indicator{
                bottom: 50%;
                left: 40%;
            }
        }
        #bondk{
            position: absolute;
            top: 33.2%;
            left: 22.5%;
            width: 5.7%;
            height: 11%;
        }
        #esoz{
            position: absolute;
            top: 37.0%;
            left: 32.3%;
            width: 5.7%;
            height: 11%;
        }
        #bonnxt{
            position: absolute;
            top: 33%;
            left: 47.3%;
            width: 5.7%;
            height: 11%;
        }
        #bonk2{
            position: absolute;
            top: 36%;
            left: 61.4%;
            width: 5.7%;
            height: 11%;
        }
        #dubinor{
            position: absolute;
            top: 47%;
            left: 16.8%;
            width: 7.2%;
            height: 13.2%;
        }
        #milicalod3{
            position: absolute;
            top: 46.5%;
            left: 37.4%;
            width: 6.0%;
            height: 10.6%;
        }
        #dubinor-ointments{
            position: absolute;
            top: 46.0%;
            left: 57.4%;
            width: 5.6%;
            height: 10.6%;
        }
        #bmdcamp{
            position: absolute;
            top: 42%;
            left: 78.1%;
            width: 6.6%;
            height: 14.2%;
        }
        #ebovpg{
            position: absolute;
            top: 53.7%;
            left: 29.6%;
            width: 7.6%;
            height: 13.8%;
        }
        #vkonnecthealth{
            position: absolute;
            top: 53.2%;
            left: 64.2%;
            width: 7.6%;
            height: 13.6%;
        }
        #shareCards,#chatAttendees{
            position: absolute;
            top: 16.5%;
            left: 37.5%;
            width: 11.1%;
            height: 11.6%;
        }
        #chatAttendees{
            left:52.1% !important;
        }
        #audiAgenda, #ask-ques,#take-poll {
            background-color: #000;
            width:120px;
            position: absolute;
            top: 37.5%;
            left: 0;
            border-radius: 0 6px 6px 0;
            text-align: center;
            -webkit-box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.12);
            box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.12);
            a {
                display: block;
                color: #fff;
                font-size: 1em;
                text-transform: uppercase;
                width: 100%;
                height: 100%;
                padding: 8px 16px;
                &:hover{
                    text-decoration: none;
                }
            }
            i {
                display: block;
                margin-bottom: 5px;
            }
        }
        #ask-ques, #take-poll {
            left: auto !important;
            right: 0;
            top: 37.5%;
            border-radius: 6px 0 0 6px !important;
        }
        #take-poll {
            top: calc(37.5% + 60px);
        }
    
        .panel {
            position: absolute;
            top: 60px;
            right: -300px;
            width: 300px;
            height: calc(100vh - 100px);
            cursor: pointer;
            background-color: #adb5bd;
            font-size: 1em;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            overflow-y:auto;
            .panel-heading {
                background-color: #212529;
                text-transform: uppercase;
                padding: 5px 10px;
                position: relative;
                font-size: 1.25em;
                color: #EEEEEE;
                .close {
                    position: absolute;
                    right: 10px;
                    top: 7px;
                    font-size: 1em;
                    color: #ccc;
                    background-color: #c00;
                    padding: 2px 4px 3px 4px;
                }
            }
            .panel-content {
                padding: 10px;
                .form-check-input{
                    margin-left: 0 !important;
                }
            }
            &.show {
                right: 0 !important;
            }
        }

        #back-button {
            position: absolute;
            background-color: #072d45;
            padding: 5px 10px;
            border-radius: 4px;
            top: 80px;
            left: 15px;
            a, a:hover {
                color: #fff;
            }
        }
        

        /*Bon DK*/
        &.bondk {
            #subSampleReq {
                position: absolute;
                top: 25.4%;
                left: 77.7%;
                width: 8.3%;
                height: 9.7%;
            }

            #subProdDet {
                position: absolute;
                top: 37.6%;
                left: 81.6%;
                width: 5.4%;
                height: 7.4%;
            }

            #poster1 {
                position: absolute;
                top: 26.0%;
                left: 24.8%;
                width: 10.4%;
                height: 21.4%;
            }

            #poster2 {
                position: absolute;
                top: 25.3%;
                left: 61.8%;
                width: 12.4%;
                height: 23.5%;
            }
        }
        /*ESOZ*/
        &.esoz{
            #subSampleReq {
                position: absolute;
                top: 25.3%;
                left: 77.6%;
                width: 8.5%;
                height: 9.8%;
            }

            #subProdDet {
                position: absolute;
                top: 37.8%;
                left: 81.2%;
                width: 6.1%;
                height: 7.4%;
            }

            #poster1 {
                position: absolute;
                top: 26%;
                left: 24.8%;
                width: 10.4%;
                height: 21.2%;
            }

            #poster2 {
                position: absolute;
                top: 25.4%;
                left: 61.6%;
                width: 12.5%;
                height: 23.5%;
            }
        }
        /*BON NXT*/
        &.bonnxt 
        {
            #subSampleReq {
                position: absolute;
                top: 29.8%;
                left: 77.7%;
                width: 8.4%;
                height: 12.3%;
            }

            #subProdDet {
                position: absolute;
                top: 38.5%;
                left: 81.4%;
                width: 5.8%;
                height: 7.0%;
            }
            #poster1 {
                position: absolute;
                top: 30.8%;
                left: 24.6%;
                width: 11.0%;
                height: 26.6%;
            }

            #poster2 {
                position: absolute;
                top: 29.9%;
                left: 61.3%;
                width: 12.5%;
                height: 29.5%;
            }

            #video1 {
                position: absolute;
                top: 37.9%;
                left: 45.0%;
                width: 9.4%;
                height: 11.2%
            }
        }
        /*BON K2*/
        &.bonk2 
        {
            #subSampleReq {
                position: absolute;
                top: 26.8%;
                left: 77.7%;
                width: 8.4%;
                height: 9.3%
            }

            #subProdDet {
                position: absolute;
                top: 38.5%;
                left: 81.4%;
                width: 5.8%;
                height: 7.0%;
            }
            #poster1 {
                position: absolute;
                top: 27.6%;
                left: 24.8%;
                width: 10.2%;
                height: 19.2%;
            }

            #poster2 {
                position: absolute;
                top: 26.9%;
                left: 61.8%;
                width: 12.5%;
                height: 21.5%;
            }

            #video1 {
                position: absolute;
                top: 32.9%;
                left: 45.0%;
                width: 9.8%;
                height: 8.8%;
            }
        }
        /*Dubinor*/
        &.dubinor{
            #subSampleReq {
                position: absolute;
                top: 25.4%;
                left: 77.6%;
                width: 8.5%;
                height: 9.5%;
            }
    
            #subProdDet {
                position: absolute;
                top: 37.5%;
                left: 81.4%;
                width: 5.8%;
                height: 7.6%
            }
    
            #poster1 {
                position: absolute;
                top: 25.9%;
                left: 24.9%;
                width: 10.2%;
                height: 21.2%
            }
    
            #poster2 {
                position: absolute;
                top: 25.2%;
                left: 61.6%;
                width: 12.4%;
                height: 23.5%;
            }
        } 
        /*Milical OD3*/
        &.milicalod3 {
            #subCampReq {
                position: absolute;
                top: 32.2%;
                left: 8.8%;
                width: 8.5%;
                height: 13.5%;
            }
            #dlBrochure {
                position: absolute;
                top: 34.2%;
                left: 68.7%;
                width: 8.6%;
                height: 10.6%;
            }
    
            #poster1 {
                position: absolute;
                top: 33.6%;
                left: 19.6%;
                width: 13.8%;
                height: 22.2%;
            }
    
            #poster2 {
                position: absolute;
                top: 34.4%;
                left: 55.5%;
                width: 11.9%;
                height: 20.3%;
            }
        }
        /*Dubinor Ointments*/
        &.dubinor-ointments {
            #subSampleReq {
                position: absolute;
                top: 25.4%;
                left: 77.6%;
                width: 8.5%;
                height: 9.5%;
            }
    
            #subProdDet {
                position: absolute;
                top: 37.5%;
                left: 81.4%;
                width: 5.7%;
                height: 7.6%;
            }
    
            #poster1 {
                position: absolute;
                top: 26.2%;
                left: 24.9%;
                width: 10.3%;
                height: 21.2%;
            }
    
            #poster2 {
                position: absolute;
                top: 25.2%;
                left: 61.7%;
                width: 12.4%;
                height: 23.4%;
            }
        }
        /*BMD Camp*/
        &.bmdcamp {
            #subCampReq {
                position: absolute;
                top: 27.2%;
                left: 9.1%;
                width: 7.6%;
                height: 10.5%;
            }
            #dlBrochure {
                position: absolute;
                top: 29.0%;
                left: 68.9%;
                width: 8.2%;
                height: 8.4%;
            }
    
            #poster1 {
                position: absolute;
                top: 25.6%;
                left: 19.2%;
                width: 12.8%;
                height: 23.2%;
            }
    
            #poster2 {
                position: absolute;
                top: 26.6%;
                left: 55.5%;
                width: 10.9%;
                height: 21.3%;
            }
        }
        /*EBOV PG*/
        &.ebovpg {
            #subSampleReq {
                position: absolute;
                top: 26.8%;
                left: 76.2%;
                width: 8%;
                height: 9.1%;
            }
    
            #subProdDet {
                position: absolute;
                top: 38.5%;
                left: 79.8%;
                width: 5.4%;
                height: 6.8%;
            }
    
            #poster1 {
                position: absolute;
                top: 27.6%;
                left: 26.2%;
                width: 9.6%;
                height: 19.8%;
            }
    
            #poster2 {
                position: absolute;
                top: 26.8%;
                left: 60.9%;
                width: 11.8%;
                height: 22.3%;
            }
        }
        /*VKONNECT HEALTH*/
        &.vkonnect{

            #subProdDet {
                position: absolute;
                top: 37.1%;
                left: 6.8%;
                width: 5.6%;
                height: 7.4%;
            }
    
            #poster1 {
                position: absolute;
                top: 24.9%;
                left: 20.0%;
                width: 16.2%;
                height: 23.8%;
            }
    
            #poster2 {
                position: absolute;
                top: 25.4%;
                left: 56.4%;
                width: 14.0%;
                height: 22.1%;
            }
        } 
    }


}

@keyframes pulse {
    0% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-box-shadow: 0 0 0 0 rgba(204, 0, 0, 0.7);
        box-shadow: 0 0 0 0 rgba(204, 0, 0, 0.7);
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-box-shadow: 0 0 0 10px rgba(204, 0, 0, 0);
        box-shadow: 0 0 0 10px rgba(204, 0, 0, 0);
    }
    100% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-box-shadow: 0 0 0 0 rgba(204, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(204, 0, 0, 0);
    }
}



@media only screen and (max-width: 770px) {
    #audiAgenda, #ask-ques,#take-poll {
        top: 25.5% !important;
        width: 100px !important;
        a {
            font-size: 1em !important;
            padding: 8px 4px !important;
        }
        i {
            margin-bottom: 5px;
        }
    }
    #ask-ques, #take-poll {
        top: 32.5%;
        border-radius: 6px 0 0 6px !important;
    }
    #take-poll {
        top: calc(22.5% + 80px) !important;
    }

    .panel {
        right: -200px !important;
        width: 200px !important;
        font-size: 0.8em !important;
        .panel-heading {
            padding: 5px 10px;
            font-size: 1em;
            .close {
                right: 10px;
                top: 7px;
                font-size: 1em;
                padding: 2px 4px 3px 4px;
            }
        }
        .panel-content {
            padding: 10px;
        }
    }
 
}

 .modal {
    outline: 0;
    &#attendees, &#confAgenda {
        .modal-dialog {
            width: 90% !important;
            max-width: 800px !important;
            height: 80vh;
            max-height: 600px;
        }
    }
    .search-area form .input {
        width: 100%;
    }
    .modal-dialog {
        transition: all 0.12s ease-out;
        width: 80%;
        max-width: 650px;
        height: 70vh;
        max-height: 600px;

        .modal-content {
            border: 0;
            .modal-header {
                background-color: #072d45;
                h5.modal-title {
                    margin: 0;
                    font-size: 1.25em;
                    color: #fff;
                }
                .close {
                    padding: 0px 10px;
                    margin: -1rem 0rem -1rem auto;
                    background-color: #c00;
                    color: #fff;
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    font-size: 1.5em;
                    border: 0;
                    &:focus {
                        outline: none !important;
                    }
                }
            }
            .modal-body {
                padding: 0em;
                color: #616161;
                background-color: #F5F5F5;
                iframe {
                    width: 100%;
                    height: 100%;
                }
                .search-area {
                    background-color: #e0e0e0;
                    color: #333;
                    padding: 5px 10px;
                    button {
                        border: 1px solid #ccc;
                        padding: 4px 12px;
                        margin: 0 5px 0 0;
                        border-radius: 4px;
                    }
                }
                #attendeeList {
                    border: 1px solid #e0e0e0;
                    padding: 0;
                    .attendee {
                        padding: 10px 15px;
                        border-bottom: 1px solid #e0e0e0;
                        position: relative;
                        .attendee-actions {
                            position: absolute;
                            top: 7px;
                            right: 10px;
                            button {
                                border: none;
                                background-color: #BDBDBD;
                                padding: 4px 8px;
                                color: #EEEEEE;
                            }
                        }
                    }
                }

                .content {
                    max-height: 65vh;
                    overflow-y: auto;
                    overflow-x: hidden;
                    padding: 15px;
                    width: 95%;
                    margin: 10px auto;
                    a {
                        color: #007cb0;
                    }
                }
            }
        }
    }
} 


.modal-tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0px solid #ccc;
    height: 40px;
    margin-bottom: 5px;
    &:before {
        display: table-cell;
        content: '';
    }
    li {
        float: left;
        border: 1px solid #ccc;
        padding: 10px;
        a {
            color: #797878;
            padding: 18px 25px;
        }
        &.active {
            border-top: 2px solid #232f3e;
            background-color: #EEEEEE;
            a {
                color: #464646;
                font-weight: 600;
            }
        }
    }
    
}
ul#pollResults {
    margin: 0;
    padding: 0;
    li {
        display: block;
        border: solid 1px #ddd;
        padding: 14px;
        margin-bottom: 10px;
        position: relative;
        z-index: 0;
        .perc-back {
            background: #d2dfe5;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 0%;
            z-index: -1;
        }
        label {
            vertical-align: middle;
            cursor: pointer;
            overflow: hidden;
        }
        .perc-number {
            float: right;
        }
    }
}
.e-card {
    width: 100%;
    .ecard {
        background-color: #29396f;
        padding: 40px;
        border-radius: 12px;
        position: relative;
        color: #fff;
        -webkit-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.45);
        box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.45);
        .name {
            font-size: 1.75em;
            text-align: center;
            font-weight: 400;
            margin-bottom: 10px;
            text-shadow: 2px 2px 3px #000;
            text-transform: uppercase;
        }
        .info {
            font-size: 1.25em;
            text-align: center;
            margin-bottom: 50px;
        }
        .info2 {
            font-size: 1em;
            position: absolute;
            left: 15px;
            bottom: 15px;
        }
    }
}

.ui-dialog {
    border: 0px solid #e73f8c;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 80% !important;
    height: 60% !important;
    max-width: 900px;
    max-height: 450px;
    overflow: auto;
    background-color: #fff;
    .ui-dialog-content{
        padding: 0 !important;
    }
    &.attendeechat {
        max-width: 400px;
        max-height: 400px;
        /* position: absolute;
            bottom: 70px !important;
            top: auto !important;
            right: 15px;
            left: auto !important;*/
    }

    .ui-widget-header {
        background: none;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #ccc;
        margin-bottom: 5px;
    }
    .ui-dialog-title {
        text-transform: uppercase;
    }
    .ui-dialog-titlebar-close {
        background: none;
        border: none;
        border-radius: 0;
        
            width: 30px;
            height: 30px;
            background-image: url(../img/close.png);
            background-size: cover;
            background-position: center center;
            margin-top: -16px;
            margin-left: -18px;
            &:focus {
                outline: none;
            }
        
    }
    .attendee_chat_box, #talktous {
        height: 350px !important;
        overflow: hidden;
    }
}