@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.navbar-brand {
  padding: 0;
}

.logo {
  max-height: 30px;
}

table {
  max-width: 100%;
  overflow-x: auto;
}

ul#pollResults {
  margin: 0;
  padding: 0;
}

ul#pollResults li {
  display: block;
  border: solid 1px #ddd;
  padding: 14px;
  margin-bottom: 10px;
  position: relative;
  z-index: 0;
}

ul#pollResults li .perc-back {
  background: #d2dfe5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  z-index: -1;
}

ul#pollResults li label {
  vertical-align: middle;
  cursor: pointer;
  overflow: hidden;
  /* &:before {
          content: url('http://img.qa01.medscapestatic.com/pi/videoplayer/icons/qna-radio-off.png');
          overflow: hidden;
          display: inline-block;
          margin-right: 10px;
          margin-top: 2px;
          margin-left: 2px;
          margin-bottom: -1px;
        } */
}

ul#pollResults li .perc-number {
  float: right;
}

#chat-area {
  background-color: #e9ecef;
  color: #6c757d;
  border: 1px solid #6c757d;
  width: 80%;
  height: calc(100vh - 100px);
  border-radius: 4px;
  margin: 0 auto;
}

#chat-area #chat-members {
  width: 35%;
  border-right: 1px solid #6c757d;
  float: left;
  height: 100%;
}

#chat-area #chat-members #member-heading {
  font-size: 1.25em;
  text-align: center;
  border-bottom: 1px solid #6c757d;
  padding: 10px;
  padding: 25px;
  height: 70px;
}

#chat-area #chat-members #chat-users {
  height: calc(100% - 70px);
  overflow: auto;
}

#chat-area #chat-members #chat-users ul.chatusers {
  list-style: none;
  padding: 0;
  margin: 0;
}

#chat-area #chat-members #chat-users ul.chatusers li {
  padding: 10px 20px;
  border-bottom: 1px solid #dae0e5;
  font-weight: 600;
  font-size: 1.25em;
}

#chat-area #chat-members #chat-users ul.chatusers li span {
  display: block;
  font-size: 0.8em;
  font-weight: 100;
}

#chat-area #chat-members #chat-users ul.chatusers li span.badge {
  display: inline-block;
  margin-left: 3px;
  font-size: 0.8em;
}

#chat-area #chat-members #chat-users ul.chatusers li:hover {
  background-color: #dae0e5;
  cursor: pointer;
}

#chat-area #member-chats {
  width: 65%;
  float: left;
  height: 100%;
}

#chat-area #member-chats #chats-heading {
  height: 70px;
  border-bottom: 1px solid #6c757d;
  padding: 25px;
}

#chat-area #member-chats #chats-heading h3 {
  font-size: 1.25em;
  margin-bottom: 5px;
}

#chat-area #member-chats #chats-heading h4 {
  font-size: 1em;
}

#chat-area #member-chats #member-chat-history {
  height: calc(100% - 100px);
}

#chat-area #member-chats #member-chat-history #chat-history {
  height: calc(100% - 100px);
  overflow: auto;
}

#chat-area #member-chats #member-chat-history #chat-history ul li {
  position: relative;
  border-bottom: 1px solid #dae0e5;
}

#chat-area #member-chats #member-chat-history #chat-history ul li span.time {
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 0.75em;
}

#chat-area #member-chats #team-chat-form {
  height: 100px;
  padding: 10px 30px;
}

#chat-area #member-chats #team-chat-form textarea {
  font-size: 1em;
}

.scroll::-webkit-scrollbar {
  width: 10px;
}

.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #eee;
  -webkit-box-shadow: inset 0 0 6px #eee;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #167ac6;
  border-radius: 10px;
  outline: 0px solid #0c0;
}

#superdashboard {
  margin: 5px;
  padding: 20px;
  min-height: calc(100vh - 80px);
  color: #333;
}

#superdashboard table td {
  padding: 5px;
}

#superdashboard a, #superdashboard i {
  color: #616161;
}

#superdashboard .audi {
  height: 100%;
}

#superdashboard .audi .title {
  background-color: #333;
  color: #fff;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}

#superdashboard .audi .video {
  margin-top: 10px;
  width: 100%;
  background-color: #000;
  position: relative;
}

#superdashboard .audi .video .video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url(../img/boot-poster.jpg);
              background-size: cover; */
}

#superdashboard .audi .video::before {
  padding-top: 56.25%;
  content: '';
  display: block;
}

#superdashboard .audi .tabs {
  padding: 5px 0;
  margin: 5px 0 0 0;
}

#superdashboard .audi .tabs a {
  color: #333;
  background-color: #616161;
  padding: 5px;
}

#superdashboard .audi .tabs a.active {
  color: #E0E0E0;
}

#superdashboard .audi .details {
  height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

#superdashboard .audi .details ul.sessques, #superdashboard .audi .details ul.sessviewers {
  list-style: none;
}

#superdashboard .audi .details ul.sessques li, #superdashboard .audi .details ul.sessviewers li {
  margin-bottom: 5px;
  color: #333;
  border-bottom: 0px solid #adb5bd;
  padding: 3px 0;
}

#superdashboard .audi .details ul.sessques li .ques_time, #superdashboard .audi .details ul.sessviewers li .ques_time {
  background-color: #adb5bd;
  font-size: 0.7em;
}
/*# sourceMappingURL=admin.css.map */