@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap");
html, body {
    height: 100%
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-image: url(../img/bg.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #20386e;
    color: #ffffff
}
body.admin a, body.admin a:hover {
    color: #333
}
a:hover {
    text-decoration: none
}
a.btn-delete i {
    background-color: #c00;
    color: #ccc;
    padding: 4px;
    border-radius: 3px
}
a.btn-edit i {
    background-color: #0c0;
    color: #ccc;
    padding: 4px;
    border-radius: 3px
}
a.btn-add {
    background-color: #c00;
    color: #f8f9fa !important;
    padding: 6px 12px;
    border-radius: 3px;
    text-transform: uppercase
}
a, a:hover {
    color: #fff
}
.bg-white {
    background-color: #fff
}
.nav-item.active {
    font-weight: bold
}
.alert-msg {
    border-radius: 0;
    padding: 5px 10px
}
.alert-msg a {
    color: #0c0;
    font-weight: 600
}
.no-margin {
    margin-left: -30px;
    margin-right: -30px
}
.color-grey {
    color: #808183
}
.scroll::-webkit-scrollbar {
width:10px
}
.scroll::-webkit-scrollbar-track {
box-shadow:inset 0 0 6px #eee;
-webkit-box-shadow:inset 0 0 6px #eee
}
.scroll::-webkit-scrollbar-thumb {
background-color:#167ac6;
border-radius:10px;
outline:1px solid #0c0
}
.ui-dialog {
    border: 0px solid #20386e;
    transition: all 0.5s;
    width: 80% !important;
    height: 60% !important;
    max-width: 900px;
    max-height: 450px;
    overflow: auto
}
.ui-dialog.talktoteam {
    max-width: 450px;
    max-height: 400px;
    position: absolute;
    bottom: 70px !important;
    top: auto !important;
    right: 15px;
    left: auto !important
}
.ui-dialog.attendeechat {
    max-width: 400px;
    max-height: 400px
}
.ui-dialog.videolist {
    max-width: 450px;
    max-height: 400px
}
.ui-dialog.requests {
    max-width: 500px;
    max-height: 200px
}
.ui-dialog .ui-widget-header {
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px
}
.ui-dialog .ui-dialog-title {
    text-transform: uppercase
}
.ui-dialog .ui-dialog-titlebar-close {
    background: none;
    border: none;
    border-radius: 0
}
.ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick {
    width: 30px;
    height: 30px;
    background-image: url(../img/close.png);
    background-size: cover;
    background-position: center center;
    margin-top: -16px;
    margin-left: -18px
}
.ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick:focus {
    outline: none
}
.ui-dialog #talktous {
    height: 350px !important
}
.btn-sendmsg {
    background-color: #20386e;
    color: #fff;
    border: 0;
    border-radius: 3px;
    font-size: 1em;
    padding: 6px 12px
}
.me {
    background-color: #ccc;
    color: #333;
    padding: 3px
}
.you {
    background-color: #333;
    color: #ccc;
    padding: 3px
}
.team {
    background-color: #20386e;
    color: #fff;
    padding: 3px
}
h3.reg-title {
    font-size: 1.5em;
    margin: 15px auto
}
form {
    color: #333
}
form label {
    text-transform: uppercase;
    font-weight: 500;
    display: block
}
form .input {
    background-color: #eaecef;
    border-radius: 1px;
    width: 100%;
    border: 0;
    padding: 10px;
    font-size: 1em
}
form [type=submit] {
    border: 0;
    border-radius: 0
}
form [type=checkbox] {
    margin-right: 5px
}
form .btn-submit {
    background-image: url(../img/btn-bg.jpg);
    width: 96px;
    height: 41px;
    color: #fff
}
form .divider {
    border-top: 2px solid #e4e4e4
}
form .lower {
    text-transform: capitalize !important
}
form .form-cancel img {
    vertical-align: top
}
form sup.req {
    color: #c00
}
form .btn-register {
    background-image: url(../img/reg-btn.jpg);
    width: 96px;
    height: 41px
}
form #btnLogin {
    background-image: url(../img/btn-login.jpg);
    width: 96px;
    height: 41px
}
.login-form {
    background-color: #fff;
    border-radius: 10px;
    padding: 10% 20px
}
#registration-confirmation {
    margin: 25px 0;
    font-size: 1.25em
}
#registration-confirmation a {
    color: #20386e
}
#login-area {
    padding: 60px
}
.link {
    color: #c00
}
.link:hover {
    color: #c00
}
#intro-video {
    width: 100%;
    position: relative
}
#intro-video:before {
    padding-top: 56.25%;
    content: '';
    display: block
}
#intro-video #player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
#reg-btn {
    margin: 20px auto
}
#reg-btn img {
    cursor: pointer
}
.bor-right {
    border-right: 2px solid #b6b6b8
}
.bor-left {
    border-left: 2px solid #b6b6b8
}
.bot-img {
    width: 100%;
    max-width: 200px;
    margin: 0 auto
}
.visit {
    margin-top: 10px;
    overflow-wrap: break-word
}
#code {
    position: fixed;
    bottom: 50px;
    right: -30px;
    transform: rotate(-90deg);
    font-size: 0.75em
}
#loginform-area {
    margin: 20px 0;
    background-color: #fff;
    padding: 5px 10px;
    text-align: left;
    border-radius: 6px;
    color: #333
}
ul.list-errors {
    margin: 0;
    padding: 0;
    list-style: none
}
#main-wrapper {
    width: 100%
}
#main-wrapper .topbar {
    width: 100%;
    background-color: rgba(255,255,255,0.25);
    padding: 0 0 0;
    z-index: 9999
}
#main-wrapper .topbar .top-navbar {
    min-height: 50px;
    padding: 0px
}
#main-wrapper .topbar .top-navbar .navbar-header {
    padding-right: 15px;
    line-height: 65px;
    padding-left: 15px;
    min-width: 70px;
    border-right: 0px solid rgba(0,0,0,0.1)
}
#main-wrapper .topbar .top-navbar .navbar-header .navbar-brand {
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
#main-wrapper .topbar .top-navbar .navbar-header .navbar-brand .logo {
    display: inline-block;
    max-height: 50px;
    width: auto
}
#main-wrapper .topbar .top-navbar .navbar-nav>.nav-item>.nav-link {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    line-height: 50px
}
#main-wrapper .topbar .navbar-collapse {
    padding: 0px
}
.left-sidebar, .topbar {
    position: fixed
}
#background-image, #overlays {
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100% - 0px);
    height: calc(100vh - 0px);
    overflow: hidden
}
#main-area {
    z-index: 9;
    width: calc(100% - 0px);
    height: calc(100vh - 0px);
    overflow: hidden;
    position: relative;
    max-height: 930px
}
#background-image {
    z-index: 10
}
#background-image.lobby-bg {
    max-height: 930px
}
#top-right-menu {
    margin-right: 10px
}
#top-right-menu #attendance, #top-right-menu #me {
    display: table-cell;
    padding: 0 20px;
    vertical-align: middle
}
#top-right-menu #me {
    color: #343a40;
    border-left: 1px solid #343a40;
    border-right: 0px solid #f8f9fa
}
#top-right-menu #attendance {
    color: #333
}
.popup_background {
    background-color: transparent !important
}
.popup-dialog {
    position: relative;
    border-radius: 4px
}
.popup-dialog .popup-close {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 24px;
    height: 24px;
    padding: 3px 7px;
    background-color: #bd2130;
    border-radius: 50%
}
.popup-dialog .popup-close i {
    color: #fff
}
.popup-dialog .heading {
    border-bottom: 1px solid #dae0e5;
    margin-bottom: 10px
}
.popup-dialog .heading h4 {
    font-size: 1em;
    color: #20386e;
    text-transform: uppercase
}
#attendees_list {
    background-color: #fff;
    color: grey;
    padding: 10px;
    margin: 0 auto
}
#attendees_list .top-area {
    padding: 5px;
    background-color: #dee2e6;
    position: relative
}
#attendees_list .top-area .input {
    width: 60%;
    margin-right: 5px;
    border: 1px solid #adb5bd
}
#attendees_list .top-area #search-attendee, #attendees_list .top-area #clear-search-attendee, #attendees_list .top-area #refresh-attendees {
    margin: 0 3px;
    padding: 5px;
    border: 0;
    border-radius: 0;
    background-color: #adb5bd
}
#attendees_list .top-area #refresh-attendees {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: #c00;
    color: #fff
}
#attendees_list .top-area #refresh-attendees:focus {
    outline: none
}
#attendees_list #attendees {
    margin-top: 20px
}
#attendees_list #attendees h2 {
    font-size: 1.25em;
    color: #ffc107;
    text-transform: uppercase
}
#attendees_list #attendees .attendee {
    margin: 10px 0;
    padding: 5px 10px;
    border-bottom: 1px solid #e9ecef;
    position: relative
}
#attendees_list #attendees .attendee .name {
    font-size: 1em;
    margin-bottom: 10px;
    font-weight: 600
}
#attendees_list #attendees .attendee .attendee-actions {
    position: absolute;
    top: 5px;
    right: 10px
}
#attendees_list #attendees .attendee .attendee-actions a {
    display: block;
    margin-bottom: 5px
}
#attendees_list #attendees .attendee .attendee-actions button {
    border: 0;
    background-color: transparent
}
#attendees_list #attendees .attendee .attendee-actions button i {
    font-size: 1.4em
}
#my_briefcase {
    background-color: #fff;
    color: grey;
    padding: 10px;
    margin: 0 auto
}
#my_briefcase .br-tabs {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 20px
}
#my_briefcase .br-tabs a {
    color: #343a40;
    padding: 5px 10px;
    background-color: #dae0e5;
    margin: 0 1px;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.1em
}
#my_briefcase .br-tabs a.active {
    background-color: #c00;
    color: #f8f9fa
}
#my_briefcase #attendees-list-chat {
    margin: 10px 20px
}
#my_briefcase #attendees-list-chat h2 {
    font-size: 1.25em;
    color: #ffc107;
    text-transform: uppercase
}
#my_briefcase #attendees-list-chat .attendee {
    margin: 5px 0;
    padding: 5px 10px;
    border-bottom: 1px solid #dee2e6;
    position: relative
}
#my_briefcase #attendees-list-chat .attendee .name {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 5px
}
#my_briefcase #attendees-list-chat .attendee .desig {
    font-size: 0.8em
}
#my_briefcase #attendees-list-chat .attendee .company {
    font-size: 0.8em;
    font-weight: 600
}
#my_briefcase #attendees-list-chat .attendee .attendee-actions {
    position: absolute;
    top: 10px;
    right: 10px
}
#my_briefcase #attendees-list-chat .attendee .attendee-actions a {
    display: block;
    margin-bottom: 5px
}
#my_briefcase #attendees-list-chat .attendee .attendee-actions button {
    background-color: transparent;
    border: 0
}
#my_briefcase #attendees-list-chat .attendee .attendee-actions button i {
    font-size: 1.25em
}
#my_briefcase #downloads-briefcase {
    padding: 10px 20px
}
#my_briefcase #downloads-briefcase ul {
    list-style: none;
    margin: 0;
    padding: 0
}
#my_briefcase #downloads-briefcase ul li {
    font-size: 1em;
    margin-bottom: 5px
}
#my_briefcase #downloads-briefcase ul li:before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0da";
    margin-right: 5px
}
#my_briefcase #videos-briefcase {
    padding: 10px 20px
}
#my_briefcase #videos-briefcase ul {
    list-style: none;
    margin: 0;
    padding: 0
}
#my_briefcase #videos-briefcase ul li {
    font-size: 1em;
    margin-bottom: 5px
}
#my_briefcase #videos-briefcase ul li:before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0da";
    margin-right: 5px
}
#agenda {
    width: 80%;
    max-width: 860px;
    height: 70%;
    max-height: 500px;
    background-color: #fff;
    color: grey;
    padding: 10px;
    margin: 0 auto
}
#agenda .popup-content {
    overflow: hidden;
    width: 100%;
    height: calc(100% - 50px)
}
#agenda .popup-content iframe {
    width: 100%;
    height: 100%;
    overflow: hidden
}
#resources {
    width: 80%;
    max-width: 600px;
    height: 70%;
    max-height: 400px;
    background-color: #fff;
    color: grey;
    padding: 10px;
    margin: 0 auto
}
#resources .popup-content {
    overflow: hidden;
    width: 100%;
    height: calc(100% - 50px);
    padding: 20px
}
#resources .popup-content ul {
    margin-top: 20px
}
#resources .popup-content ul li {
    margin-bottom: 15px;
    font-size: 1.25em
}
#auditoriums {
    width: 200px;
    height: 200px;
    background-color: #fff;
    color: grey;
    padding: 10px;
    margin: 0 auto
}
#auditoriums ul {
    padding: 0;
    margin: 0
}
#auditoriums ul li {
    text-transform: uppercase;
    padding: 10px 5px;
    border-bottom: 1px solid #dae0e5
}
#auditoriums ul li:hover {
    background-color: #e9ecef
}
#auditoriums ul li a {
    color: #c00
}
#auditoriums ul li a::after {
    display: inline-block;
    margin-left: 10px;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0da";
    font-size: 1.2em
}
#contactus, #exhib-resources, #video-list {
    height: 350px !important
}
#contactus ul, #exhib-resources ul, #video-list ul {
    margin: 20px
}
#contactus ul li, #exhib-resources ul li, #video-list ul li {
    padding: 5px 0;
    font-size: 1.2em
}
#contactus ul li i, #exhib-resources ul li i, #video-list ul li i {
    margin-right: 5px
}
#contactus ul li i::before, #exhib-resources ul li i::before, #video-list ul li i::before {
    color: #c00
}
#contactus ul li a, #exhib-resources ul li a, #video-list ul li a {
    color: #333
}
#contact-us {
    padding: 10px
}
#contact-us .contact {
    background-color: #e9ecef;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px
}
#contact-us .contact:hover {
    background-color: #ccc
}
#contact-us .contact h2 {
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px
}
#contact-us .contact h4 {
    font-size: 1.3em;
    margin-bottom: 3px
}
#contact-us .contact h5 {
    font-size: 1.2em
}
#contact-us .social h4 {
    font-size: 1.25em;
    padding-bottom: 5px;
    border-bottom: 1px solid #333;
    margin-bottom: 10px
}
#contact-us .social i {
    color: #c00;
    font-size: 1.5em;
    margin-right: 10px
}
#talktous {
    background-color: #fff;
    color: grey;
    padding: 10px;
    margin: 0 auto
}
#talktous #chat_team .chat_history {
    height: 210px;
    border: 1px solid #e9ecef;
    background-color: #f8f9fa;
    overflow-y: auto;
    margin-bottom: 15px
}
#talktous #chat_team .form-group {
    margin-bottom: 0.25em
}
#pollresults {
    padding: 20px
}
#pollresults .option {
    background-color: #e9ecef;
    border: 1px solid #dae0e5;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px
}
#pollresults .option .progress {
    background-color: #dae0e5 !important
}
#currpollresults {
    display: block;
    padding: 10px;
    color: #343a40
}
#currpollresults h6 {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px
}
#currpollresults .option {
    background-color: #e9ecef;
    border: 1px solid #dae0e5;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px
}
#currpollresults .option .progress {
    background-color: #dae0e5 !important
}
.attendee_chat_box {
    height: 350px !important
}
#show_briefcase i {
    position: relative
}
#show_briefcase i #chat-message {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 0.75em
}
img.mfp-img {
    max-height: calc(100vh - 150px) !important
}
.tabs {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 20px
}
.tabs a {
    color: #343a40;
    padding: 5px 10px;
    background-color: #dae0e5;
    margin: 0 1px;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.1em
}
.tabs a.active {
    background-color: #c00;
    color: #f8f9fa
}
.tabs a:hover {
    text-decoration: none
}
.tabs a:focus {
    outline: none
}
#webcast_sessions {
    background-color: #f5f5f5
}
#webcast_sessions .sessions {
    height: 320px;
    overflow-y: scroll
}
#webcast_sessions .sessions .session {
    border-bottom: 1px solid #999999
}
#webcast_sessions .sessions .session:hover {
    background-color: #dee2e6
}
#webcast_sessions .sessions .session .ses_details .ses_time {
    color: #ED9726;
    font-size: 0.8em
}
#webcast_sessions .sessions .session .ses_details h4 {
    font-size: 1.2em;
    color: #0d6595
}
#webcast_sessions .sessions .session .ses_details h4.hl {
    background-color: #7b241d;
    color: #fff;
    display: inherit;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600
}
#webcast_sessions .sessions .session .ses_status {
    width: 100px;
    text-align: center;
    padding-top: 10px
}
#webcast_sessions .sessions .session .ses_status .btn-launch, #webcast_sessions .sessions .session .ses_status .disabled {
    padding: 5px 12px;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    font-size: 1em;
    border-radius: 4px;
    display: inline-block;
    text-transform: uppercase;
    border: 0;
    margin-top: 15px
}
#webcast_sessions .sessions .session .ses_status .disabled {
    background-color: #ccc
}
#webcast_sessions .sessions .session .ses_status .status {
    margin-top: 10px
}
#req-samples .succ-msg, #req-products .succ-msg, #req-literature .succ-msg, #req-videos .succ-msg, #req-call .succ-msg, #req-telemedicine .succ-msg {
    color: #cc0000;
    font-size: 1.2em;
    font-weight: 600
}

/* Customization Style of SyoTimer */

.syotimer {
    text-align: center;
    margin: 30px auto 0;
    padding: 0 0 10px;
}

.syotimer-cell {
    display: inline-block;
    margin: 0 5px;
    width: 79px;
    background: url(../img/timer.png) no-repeat 0 0;
}

.syotimer-cell__value {
    font-size: 35px;
    color: #ffffff;
    height: 81px;
    line-height: 81px;
    margin: 0 0 5px;
}

.syotimer-cell__unit {
    font-size: 12px;
    text-transform: uppercase;
}
/*# sourceMappingURL=styles.css.map */
